---
// imports imagenes mobile
import MobileSer1 from '/src/assets/Mobile-servicios/mobile-servicios-1.png';
import MobileSer2 from '/src/assets/Mobile-servicios/mobile-servicios-2.png';
import MobileSer3 from '/src/assets/Mobile-servicios/mobile-servicios-3.png';
import MobileSer4 from '/src/assets/Mobile-servicios/mobile-servicios-4.png';
import MobileSer5 from '/src/assets/Mobile-servicios/mobile-servicios-5.png';

// imports imagenes desktop
import DesktopSer1 from '/src/assets/servicios.img/desktop-servicios-1.jpg';
import DesktopSer2 from '/src/assets/servicios.img/desktop-servicios-2.jpg';
import DesktopSer3 from '/src/assets/servicios.img/desktop-servicios-3.jpg';
import DesktopSer4 from '/src/assets/servicios.img/desktop-servicios-4.jpg';
import DesktopSer5 from '/src/assets/servicios.img/desktop-servicios-5.jpg';
---

<div
    class=" text-center  text-[#564376] text-[64px] font-normal font-bebas tracking-[10.24px]
    xlg:text-left xlg:text-[80px] xlg:font-semibold xlg:tracking-[12px] xlg:px-[100px]
xxl:text-left xxl:text-[80px] xxl:font-semibold xxl:tracking-[12px] xxl:px-[140px]"
>
    NUESTROS SERVICIOS
</div>

<section
    id="services"
    class="px-5 py-10  text-center justify-center items-center gap-8 inline-flex xlg:px-[100px] xxl:px-[140px]"
>
    <div
        class="flex flex-col xlg:flex-row-reverse xxl:flex-row-reverse items-center gap-8"
    >
        <div
            class="flex flex-col text-center items-start gap-8 xlg:text-start xxl:text-start"
        >
            <!-- Título -->
            <h2
                class="self-stretch text-primary text-2xl font-extrabold font-['Manrope'] uppercase tracking-[4.08px]"
            >
                EXTERIORES > DISEÑO
            </h2>

            <!-- Texto -->
            <p
                class="self-stretch text-mutedText text-base font-medium font-['Manrope'] leading-10 xxl:text-lg xxl:leading-8"
            >
                El equipo de <span class="font-bold">VERBENAS</span> es especialista
                en diseño de jardines y parques, haciendo de la estética y del bienestar
                nuestro lema. Contamos con diversidad de opciones para adecuarse
                a su necesidad, con un servicio totalmente personalizado<br />y
                enfocado exclusivamente a sus requerimientos. Desarrollamos
                espacios que sean estéticos y disfrutables todo el año.
                Elaboramos planes de mantenimiento específicos para cada espacio
                verde, planificando y optimizando los recursos, tanto humanos
                como técnicos. Buscamos los mayores estándares de desempeño para
                el mantenimiento de espacios verdes considerando tanto su buen
                estado estructural y fitosanitario, como aspectos estéticos de
                la vegetación, garantizando el aspecto y la salud de césped,
                árboles, plantas, flores y entorno.
            </p>
        </div>

        <div class="flex justify-center items-center ">
            <picture class="xxl:w-[400px] xxl:h-[400px] xlg:w-[400px] xlg:h-[400px] rounded-[10px]">
                <!-- Imagen para dispositivos móviles -->
                <source
                    srcset={MobileSer1.src}
                    media="(max-width: 640px)"
                />
                <!-- Imagen para dispositivos mayores a 640px -->
                <source
                    srcset={DesktopSer1.src}
                    media="(min-width: 641px)"
                />
                <img
                    src={DesktopSer1.src}
                    class="w-[400px] h-[400px] rounded-[10px]"
                    alt="Diseño de exteriores"
                />
            </picture>
        </div>
    </div>
</section>


<section
    class="px-5 py-10 bg-primary flex-col justify-start items-center gap-8 inline-flex
    xlg:px-[100px] xlg:flex-row-reverse xlg:justify-end
    xxl:px-[140px] xxl:flex-row-reverse xxl:justify-end"
>
    <div class="flex justify-center items-center">
        <picture class=" xxl:w-[400px] xxl:h-[400px] xlg:w-[400px] xlg:h-[400px] rounded-[10px]">
            <!-- Imagen para dispositivos móviles -->
            <source
                srcset={MobileSer2.src}
                media="(max-width: 640px)"
            />
            <!-- Imagen para dispositivos mayores a 640px -->
            <source
                srcset={DesktopSer2.src}
                media="(min-width: 641px)"
            />
            <img
                src={DesktopSer2.src}
                class="w-[400px] h-[400px] rounded-[10px]"
                alt="Diseño de exteriores"
            />
        </picture>
    </div>

    <div
        class="grow shrink basis-0 flex-col justify-center items-start gap-8 inline-flex"
    >
        <!-- Título -->
        <h2
            class="text-center self-stretch text-secondary text-2xl font-extrabold
            font-['Manrope'] uppercase tracking-[4.08px] xlg:text-start xxl:text-start"
        >
            Terrazas verdes > DISEÑO Y MANTENIMIENTO
        </h2>
        <!-- Texto -->
        <p class="self-stretch text-center xlg:text-start xxl:text-start">
            <span
                class="text-white text-base font-medium font-['Manrope'] leading-10"
                >Las terrazas, sobre todo en grandes urbanizaciones como Buenos
                Aires, suelen ser espacios comunes desaprovechados. Una terraza
                verde, además de sus muchos beneficios en cuanto al ecosistema,
                es una solución que da vida, incorpora vanguardia y pone en
                valor al espacio para el descanso, la sociabilización y la
                conexión de los habitantes con la naturaleza y su biodiversidad,
                transformando un espacio desaprovechado en un punto de encuentro
                para compartir, con beneficios recreativos, estéticos,
                ambientales y sociales.
            </span>
            <span
                class="text-white text-base font-bold font-['Manrope'] leading-10"
                >En VERBENAS nuestros especialistas te pueden brindar distintas
                soluciones para generar de tu terraza o patio urbano, un espacio
                verde disfrutable.</span
            >
        </p>
    </div>
    <!-- <img
        src="/src/assets/vectors/fern-white.svg"
        alt="monstera"
        class="absolute -z-1 w-[524px] -ml-[350px] md:w-[624px] md:-ml-[450px]"
    /> -->
</section> 

<section
    class="px-5 py-10 text-center justify-center items-center gap-8 inline-flex xlg:px-[100px] xxl:px-[140px]"
>
    <div
        class="flex flex-col xxl:flex-row-reverse xlg:flex-row-reverse items-center gap-8"
    >
        <!-- Título y texto en pantallas pequeñas y en fila en pantallas medianas en adelante -->
        <div
            class="flex flex-col text-center items-start gap-8 xxl:text-start xlg:text-start"
        >
            <!-- Título -->
            <h2
                class="self-stretch text-primary text-2xl font-extrabold font-['Manrope'] uppercase tracking-[4.08px]"
            >
                Muros verdes y Jardines verticales > DISEÑO y MANTENIMIENTO
            </h2>

            <!-- Texto -->
            <p
                class="self-stretch text-mutedText text-base font-medium font-['Manrope'] leading-10 xxl:text-lg xxl:leading-8"
            >
                Los muros verdes constituyen uno de los enfoques más utilizados
                para generar espacios verdes en zonas urbanas. Una pared verde,
                en cualquier ambiente, a través de sus texturas, colores y
                fluidez se convierte en un elemento decorativo que hace resaltar
                el espacio, convirtiendo a los jardines verticales en un estilo
                ideal de bienestar y belleza para integrar la naturaleza y sus
                beneficios. Diseñamos muros verdes y jardines verticales, de
                interior y exterior, de acuerdo a su necesidad, con un amplio
                abanico de posibilidades, plantas verdes, flores o distintos
                tipos de musgos. Solo es necesario un muro para transformar tu
                ambiente.
            </p>
        </div>

        <div class="flex justify-center items-center">
            <picture class="xxl:w-[400px] xxl:h-[400px] xlg:w-[400px] xlg:h-[400px] rounded-[10px]">
                <!-- Imagen para dispositivos móviles -->
                <source
                    srcset={MobileSer3.src}
                    media="(max-width: 640px)"
                />
                <!-- Imagen para dispositivos mayores a 640px -->
                <source
                    srcset={DesktopSer3.src}
                    media="(min-width: 641px)"
                />
                <img
                    src={DesktopSer3.src}
                    class="w-[400px] h-[400px] rounded-[10px]"
                    alt="Diseño de exteriores"
                />
            </picture>
        </div>
    </div>
</section>

<section
    class="px-5 py-10 bg-primary flex-col justify-start items-center gap-8 inline-flex
    xlg:px-[100px] xlg:flex-row-reverse xlg:justify-end
    xxl:px-[140px] xxl:flex-row-reverse xxl:justify-end"
>
    <div class="flex justify-center items-center">
        <picture class="xxl:w-[400px] xxl:h-[400px] xlg:w-[400px] xlg:h-[400px] rounded-[10px]">
            <!-- Imagen para dispositivos móviles -->
            <source
                srcset={MobileSer4.src}
                media="(max-width: 640px)"
            />
            <!-- Imagen para dispositivos mayores a 640px -->
            <source
                srcset={DesktopSer4.src}
                media="(min-width: 641px)"
            />
            <img
                src={DesktopSer4.src}
                class="w-[400px] h-[400px] rounded-[10px]"
                alt="Diseño de exteriores"
            />
        </picture>
    </div>

    <div
        class="grow shrink basis-0 flex-col justify-center items-start gap-8 inline-flex"
    >
        <!-- Título -->
        <h2
            class="text-center self-stretch text-secondary text-2xl font-extrabold
            font-['Manrope'] uppercase tracking-[4.08px] xlg:tracking-[2.08px] xlg:text-start xxl:text-start"
        >
            INTERIORES > DISEÑO Y MANTENIMIENTO
        </h2>
        <!-- Texto -->
        <p class="self-stretch text-center xlg:text-start xxl:text-start">
            <span
                class="text-white text-base font-medium font-['Manrope'] leading-10"
            >
                Ofrecemos asesoramiento e ideas para mejorar y decorar sus
                espacios interiores, a través de la colocación de elementos
                naturales, ocupándonos del suministro de todos los materiales
                necesarios, adecuándonos al espacio y a sus requerimientos. Los
                espacios interiores pueden mejorar con una decoración adecuada.
                Únicamente con la colocación de elementos naturales podemos
                cambiar la estética y el entorno de un espacio interior,
                mejorando el bienestar ambiental del entorno. A través de
                nuestro servicio de mantenimiento nos aseguramos que cada planta
                reciba la atención y el cuidado necesarios para que conserven el
                mejor aspecto durante todo el año. Nuestro equipo de jardineros
                profesionales cuenta con el conocimiento y experiencia para
                cubrir todos los requerimientos y características específicas de
                cada especie.
            </span>
        </p>
    </div>
    <!-- <img
        src="/src/assets/vectors/fern-white.svg"
        alt="monstera"
        class="absolute -z-1 w-[524px] -ml-[350px] md:w-[624px] md:-ml-[450px]"
    /> -->
</section>

<section
    class="px-5 py-10 text-center justify-center items-center gap-8 inline-flex xxl:px-[140px] xlg:px-[100px]"
>
    <div
        class="flex flex-col xxl:flex-row-reverse xlg:flex-row-reverse items-center gap-8"
    >
        <div
            class="flex flex-col text-center items-start gap-8 xxl:text-start xlg:text-start"
        >
            <!-- Título -->
            <h2
                class="self-stretch text-primary text-2xl font-extrabold font-['Manrope'] uppercase tracking-[4.08px]"
            >
                Huertas > VERBENAS
            </h2>

            <!-- Texto -->
            <p
                class="self-stretch text-mutedText text-base font-medium font-['Manrope'] leading-10 xxl:text-lg xxl:leading-8 xlg:leading-6"
            >
                Las huertas urbanas vinculan a las poblaciones con la naturaleza
                y la posibilidad de tener sus propios cultivos. En <span
                    class="font-bold">VERBENAS</span
                > trabajamos con <span class="font-bold">VIVIERO-HUERTA</span>,
                que nació de la iniciativa de vecinas del Barrio Rodrigo Bueno
                como una búsqueda de rescatar los conocimientos y las prácticas
                culturales de las tierras originales. Hoy, es un espacio
                autogestivo donde se cultivan alimentos, plantas orgánicas y
                nativas.<br />
                Trabajamos con las mejores manos del VIVIERO-HUERTA para que cuentes
                con plantas y semillas totalmente orgánicas, además de ofrecerte
                capacitación para mantenerlas frescas y saludables. Nuestra responsabilidad
                social empresarial se focaliza en tres vertientes: cuidado al medio
                ambiente, condiciones laborales de sus trabajadores y apoyo a las
                causas humanitarias.
            </p>
        </div>

        <div class="flex justify-center items-center">
            <picture class="xxl:w-[400px] xxl:h-[400px] xlg:w-[400px] xlg:h-[400px] rounded-[10px]">
                <!-- Imagen para dispositivos móviles -->
                <source
                    srcset={MobileSer5.src}
                    media="(max-width: 640px)"
                />
                <!-- Imagen para dispositivos mayores a 640px -->
                <source
                    srcset={DesktopSer5.src}
                    media="(min-width: 641px)"
                />
                <img
                    src={DesktopSer5.src}
                    class="w-[400px] h-[400px] rounded-[10px]"
                    alt="Diseño de exteriores"
                />
            </picture>
        </div>
    </div>
</section>
